# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
+ List popular languages for Data Science
+ List commonly used libraries by Data Scientists
+ List Data Science Tools
+ Give Examples for evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries by Data Scientists include: 
1. NumPy
2. Matpotlib
3. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Spark |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [9]:
#This will convert 200 minutes to hour by dividing by 60
200/60

3.3333333333333335

## Author
Aleena Sajan